site_name: S2

repo_name: Proton-Utilities/Standard2
repo_url: https://github.com/Proton-Utilities/Standard2
edit_uri: edit/main/docs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:

  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - attr_list

plugins:
- search
- awesome-nav

theme:
  name: material

  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

  palette:
    - scheme: slate
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
    - scheme: default
      primary: deep orange
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
  font:
    text: Roboto
    code: Roboto Mono

  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - navigation.footer

    - toc.follow

    - search.suggest

    - content.action.edit
    - content.action.view

    - content.code.copy
    - content.code.select
    - content.code.annotate

extra:
  generator: false

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Proton-Utilties/Standard2

    - icon: fontawesome/brands/discord
      link: https://discord.gg/nEF8hyfvrc
extra_css:
  - assets/styles/extra.css